@import ../public/colors

#about

  > div
    max-width: 710px
    width: 100%

    > p
      color: $v2_text
      font-size: 24px
      text-align: justify
      line-height: 50px

      > span
        color: $v2_white
        font-weight: bold

    > div
      margin-top: 30px

      > button
        width: 240px

      > button:first-child
        margin-right: 20px